# Ignore the configuration file
configuration.yaml

# ignore the automations with personal data
automatisations/tts-agenda-famille-aujourd-hui.md
automatisations/tts-agenda-famille-aujourd-hui.yaml
automatisations/tts-agenda-parents.md
automatisations/tts-agenda-parents.yaml
automatisations/tts-agenda-generate.md
automatisations/tts-agenda-famille-aujourd-hui.md
automatisations/presence-notify-oscar-in-out-zones.yaml

# Ignore the includes files with personal data
includes/rest_command.yaml

# Ignore the lovelace files with personal data
lovelace/dashboard.yaml
lovelace/hardware.yaml
lovelace/securite.yaml

# Ignore the N8N workflows
workflows/*

# Ignore the scripts with personal data
scripts/mqtt-send-topics.md
scripts/mqtt-send-topics.yaml
